// VARIABLES & MIXINS
// ------------------
@import "vars.less"; // Include Variables and Mixins



// BASIC STYLE FOR MEGAMENU
// -------------------------
#ja-megamenu {

  // THE MEGAMENU
  //--------------------------------------------

  // Global Menu Inner padding
  // -------------------------
  .mega-inner {
    padding: @baseLineHeight / 2;
  }


  // Menu Grids
  // ----------
  .row-fluid {
  }

  .row-fluid + .row-fluid,
  .row-fluid + .row-fluid  {
    boder-top: @T3borderColor;
  }

  .row-fluid [class*="span"] {
  }


  // The Dropdown
  // ------------
  .mega-dropdown-menu {
    min-width: 200px;
  }


  // The Nav
  // -------
  .mega-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mega-nav > li {
    list-style: none;
    margin-left: 0;
  }

  .mega-nav > li a {
    white-space: normal;
    border: 0;
    padding: 3px 10px;
    margin: 2px 0;
    border-radius: @LargeBorderRadius;
  }

  // The caret
  .mega-nav .dropdown-submenu > a::after {
    margin-right: 0;
  }


  // The Group
  // ---------
  .mega-group {
  }

  // Group Title
  .mega-nav .mega-group > a {
    font-size: @T3biggerFontSize;
    font-weight: bold;
    border-bottom: 1px solid @T3borderColor;
    padding: 3px 10px 5px 5px;
  }

  .mega-nav .mega-group > a:hover,
  .mega-nav .mega-group > a:active,
  .mega-nav .mega-group > a:focus {
    background: inherit;
    color: @grayDarker;
  }


  // Group Content
  .mega-group-ct {
  }

  .mega-group-ct > .row-fluid > [class*="span"] > .mega-inner {
  }

  // Nav in Group
  .mega-group .mega-nav {
  }

  .mega-group .mega-nav > li {
  }

  .mega-group .mega-nav > li a {
  }



  // Modules in Megamenu
  // -------------------

  // Module Title
  .ja-module .module-title {
    font-size: @T3biggerFontSize;
    color: @dropdownLinkColor;
    display: block;
    line-height: @baseLineHeight;
    border-bottom: 1px solid @T3borderColor;
    padding: 3px 10px 5px 5px;
  }

  // Module Content
  .ja-module .module-ct {
  }

  // List in Module


  // End
}


