// VARIABLES & MIXINS
// ------------------
@import "vars.less"; // Include Variables and Mixins



// BASIC STYLE FOR MEGAMENU
// -------------------------
#ja-megamenu {

  // THE MEGAMENU
  //--------------------------------------------

  // Global Menu Inner padding
  // -------------------------
  .mega-inner {
    padding: @baseLineHeight / 2;
  }

  // padding for 1 column menu
  .row-fluid .span12 .mega-inner {
    padding: @baseLineHeight / 2;
  }


  // The Dropdown
  // ------------
  .mega-dropdown-menu {
    min-width: 200px;
  }


  // The Nav
  // -------
  .mega-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mega-nav > li {
    list-style: none;
    margin-left: 0;
  }

  .mega-nav > li a {
    white-space: normal;
    border: 0;
    padding: 0 10px;
  }



  // The Group
  // ---------
  #ja-megamenu .mega-group {
  }

  // Group Title
  #ja-megamenu .mega-group > a {
    font-weight: bold;
    padding-left: 5px;
    border-bottom: 1px solid #eee;
  }

  // Group Content
  #ja-megamenu .mega-group-ct {
    margin: 0;
    .clearfix();
  }


  // Nav in Group
  .mega-group .mega-nav {
  }

  .mega-group .mega-nav > li {
  }

  .mega-group .mega-nav > li a {
  }



  // Modules in Megamenu
  // -------------------
  .ja-module ul {
    margin: 0 0 0 15px;
  }

  .ja-module li {
    list-style: disc;
    display: list-item;
    margin: 0;
    paddinh: 0;
    border: 0;
  }

  .ja-module ul li a {
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }

  .ja-module ul li a:hover,
  .ja-module ul li a:active,
  .ja-module ul li a:focus,
  .ja-module ul li a:visited {
    background: none;
    color: inherit;
    font: inherit;
  }

  // End
}


