html {
  font-size: 62.5%; /* Change base font-size to 10px. Therefore we can easily calculate other elements font-size */
}

body {
  background: url(images/cms_body_bg.png) top center repeat;
  color: #666;
  line-height: 1.6; /* Unit-less line-height means line height can scale. */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Headings */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.167em;
}

h4 {
  font-size: 1em;
}

h5,
h6 {
  font-size: 1em;
}

#container {
  background: url(images/cms_bg.png) top center no-repeat;
  min-height: 441px;
  width: 100%;
}

h1{
  background: url(images/cms_logo.png) top center no-repeat;
  display: block;
  padding: 46px 0 176px;
  text-indent: -1000%;
}
.region-panel-fifth-2{
	width:480px; 
	height:150px;
	margin: 0 auto;

}

#content {
  color: #999;
  margin: 0 auto;
  padding: 20px 0 0;
  width: 960px;
}

.l_message {
  font-size: 1.4em;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  width: 500px;
  padding-left:25px;
  color:#fff;
}

.l_message a {
  color: #7ca945;
  text-decoration: none;
  border-bottom: 1px dotted #7ca945;
}

.l_message a:hover,
.l_message a:active,
.l_message a:focus {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

.region-panel-fifth-2 form .inner {
  background: #111;
  border: 1px solid #222;
  border-radius: 3px;
  font-size: 1.2em;
  margin: 26px auto 12px;
  padding: 1.5em 20px 1.5em 30px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  width: 460px;
  overflow: hidden;
  color: #999;
}

.region-panel-fifth-2 form .form-item,
.region-panel-fifth-2 form .button {
  display: block;
  float: left;
  margin-top: .5em;
}

.region-panel-fifth-2 form .form-text {
  background: #FFF;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #111;
  color: #666;
  font-size: 1em;
  padding: 8px 6px 5px;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,.75);
  background-clip: padding-box !important; /* Fix bleeding */
}
#frm_code{
	display: none;
}
.region-panel-fifth-2 form .form-text:hover,
.region-panel-fifth-2 form .form-text:focus {
  color: #333;
}

.region-panel-fifth-2 form .form-submit {
  background: url(images/grad-blue.gif) repeat-x top #48B;
  border: 1px solid #2c5879;
  color: #fff !important;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(0,0,0,.25);
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,1), inset 0 1px 1px rgba(255,255,255,.3);
  line-height: normal;
  background-clip: padding-box !important; /* Fix bleeding */
}

.region-panel-fifth-2 form .form-submit:hover {
  background: url(images/grad-green.gif) repeat-x top #7ca945;
  border: 1px solid #7ca945;
}


/* Mailchimp */
#mailchimp_subscribe_anon_form_a6726d27a5 label,
#mailchimp_subscribe_anon_form_a6726d27a5 .form-type-textfield{
  display: none;
}

.region-panel-fifth-2 .txt_email,
.region-panel-fifth-2 .txt_name {
 display: inline!important;
}
.txt_name{
	margin-left: 25px;
}
.region-panel-fifth-2 .txt_email {
  margin-right: 5px;
}

.region-panel-fifth-2 .txt_name{
  margin-right: 10px;
}

.cms_twitter,.cms_invite {
  background: url(images/cms_twitter.png) 1px 0 no-repeat;
  color: #666;
  float: right;
   display: block;
  font-size: 1.1em;
  margin-right: 188px;
  padding: 2px 0 10px 16px;
  text-shadow: 1px 1px #000;
   width: 124px
}
.cms_invite{
  background: url(images/grad-green.gif) repeat-x top #7ca945;
  border: 1px solid #000;
  color: #fff !important;
  cursor: pointer;
  font-weight: bold;
  margin-right:215px;
  width:155px;
  text-align: center;
  text-decoration: none;
  padding: 6px 10px 3px;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(0,0,0,.25);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,1), inset 0 1px 1px rgba(255,255,255,.3);
  line-height: normal;
  background-clip: padding-box !important; /* Fix bleeding */
}
.cms_invite:hover,
.cms_invte:active{
	 background: url(images/grad-blue.gif) repeat-x top #48B;	
}
.brown {
  color: #888;
}

.red-border {
  border: 1px solid #FF0000 !important;
}

#system-messages-wrapper{
  margin-bottom: 15px;
  text-align: center;
}

#system-messages-wrapper h2{
  margin: 0;
}

div.messages {
  color: #fff;
  font-size: 1.1em;
  margin: auto;
  width: 374px;
}

#system-messages-wrapper .warning,div.error,
#lb_message .warning
{
  background: url(images/error.png) top left no-repeat;
  display:inline;
  padding-left: 18px;
}

div.messages h2{
  display: none;
}

/* Text Inputs ---*/
.block-mailchimp .form-type-textfield {
  float: left;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}

*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 10px;
  padding: 0 10px 10px;
}

*:first-child+html fieldset > .description,
*:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 10px;
}

legend.fieldset-legend {
}

fieldset legend {
  display: block;
  font-weight: 400;
  padding: 0 10px 0 0;
}

*:first-child+html fieldset legend,
*:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 5px;
}
.loading{
		width: 16px;
		height: 11px;
		display: inline-block;
		background: url(images/ajax-loader.gif) right 4px no-repeat;
		padding-left: 10px;
		padding-top: 0;
		padding-bottom: 10px;
		padding-right: 52px;
}
#frm_code .inner div{
	padding-left: 129px;
}
#frm_code input{
	float: left;
}